<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main>
    <div class="jumbotron filmpanda-dark filmpanda-main-block col-md-offset-3">
        <h1 class="text-center">Edit Article</h1>
        <hr>
        <form th:action="@{/articles/edit/{id} (id = ${articleId})}" th:method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf"
                   value="80417983-fe8b-45c7-963e-31f6915a1560">
            <div class="form-group">
                <label class="filmpanda-orange-text" for="title">Title</label>
                <input type="text" th:value="${article.title}" class="form-control" id="title" placeholder="Title" name="title">
            </div>
            <div class="form-group">
                <label class="filmpanda-orange-text" for="content">Content</label>
                <textarea rows="10" th:utext="${article.content}" class="form-control" id="content" placeholder="Content" name="content"></textarea>
            </div>
            <div class="form-group">
                <label class="filmpanda-orange-text" for="add-article-associatedMovies">Associated Movies</label>
                <select multiple class="form-control" id="add-article-associatedMovies" name="associatedMovies">
                    <option selected disabled="">Select Movie</option>
                </select>
            </div>
            <hr>
            <div class="text-center"><button type="submit" class="btn btn-dark align-content-center filmpanda-button">Edit</button></div>
        </form>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
<script>
    fetch('/movies/fetch')
        .then((response) => response.json())
    .then((json) => {
        json.forEach((movie) => $('#add-article-associatedMovies').append(`<option value="${movie.id}">${movie.title}</option>`));
    })
    .catch((err) => console.log(err));
</script>
</html>