<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main>
    <div class="jumbotron-fluid filmpanda-dark filmpanda-main-block">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <img class="push-up" th:src="${movie.imageUrl}" width="100%" height="100%" alt="Movie Poster" align="left">
                        <th:block th:each="trailerId : ${trailerIds}">
                            <iframe allowfullscreen="allowfullscreen" class="push-up push-down" width="100%"
                                    th:src="'https://www.youtube.com/embed/' + ${trailerId}" align="left">
                            </iframe>
                        </th:block>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <th:block th:if="${#lists.contains(currentUser.authorities, 'ROLE_ADMIN')}">
                                <div class="jumbotron-fluid filmpanda-review-post-block">
                                    <form th:action="@{/movies/add-screening/{id} (id = ${movie.id})}" th:method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <div class="form-group tiny-margin-top-bottom">
                                            <label class="filmpanda-orange-text filmpanda-tiny-text" for="add-screening-theater">Movie Theater</label>
                                            <select class="form-control" id="add-screening-theater" name="movieTheater">
                                                <option selected disabled="">Select Movie Theater</option>
                                            </select>
                                        </div>
                                        <div class="form-group tiny-margin-top-bottom">
                                            <label class="filmpanda-orange-text filmpanda-tiny-text" for="timeStamps">Time Stamps</label>
                                            <input type="text" class="form-control" id="timeStamps" placeholder="07:20, 10:30, 15:40, ..." name="timeStamps">
                                        </div>
                                        <div class="form-group tiny-margin-top-bottom">
                                            <label class="filmpanda-orange-text filmpanda-tiny-text" for="type">Type</label>
                                            <input type="text" class="form-control" id="type" placeholder="Real3D/IMAX3D/2D/..." name="type">
                                        </div>
                                        <div class="form-group tiny-margin-top-bottom">
                                            <label class="filmpanda-orange-text filmpanda-tiny-text" for="price">Price</label>
                                            <input type="number" step="0.05" min="0" value="0" class="form-control" id="price" placeholder="0.00" name="price">
                                        </div>
                                        <button class="btn btn-dark filmpanda-button text-right push-down">Submit</button>
                                    </form>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <th:block th:if="${#lists.contains(currentUser.authorities, 'ROLE_ADMIN')}">
                        <br>
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <div class="row">
                                    <a class="push-left" th:href="@{/movies/edit/{id} (id = ${movie.id})}">
                                        <button class="btn btn-dark filmpanda-button">EDIT</button>
                                    </a>
                                    <form class="push-right" th:action="@{/movies/delete/{id} (id = ${movie.id})}" th:method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <button class="btn btn-dark filmpanda-remove-button text-right">X</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <small class="filmpanda-orange-text" th:utext="'Creator: ' + ${movie.user}"></small>
                    </th:block>
                    <br>
                    <small class="filmpanda-orange-text" th:utext="${movie.views} + ' View(s)'"></small>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="filmpanda-title-text" th:utext="${movie.title}"></div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align="left">
                            <div class="filmpanda-small-text filmpanda-orange-text">Genres: </div><div class="filmpanda-small-text" th:utext="${#strings.listJoin(movie.genres, ', ')}"></div>
                            <div class="filmpanda-small-text filmpanda-orange-text">Runtime: </div><div class="filmpanda-small-text" th:utext="${movie.runtime} + ' mins'"></div>
                            <div class="filmpanda-small-text filmpanda-orange-text">Studio(s): </div><div class="filmpanda-small-text" th:utext="${movie.studios}"></div>
                            <div class="filmpanda-small-text filmpanda-orange-text">Director(s): </div><div class="filmpanda-small-text" th:utext="${movie.directors}"></div>
                            <div class="filmpanda-small-text filmpanda-orange-text">Lead Actor: </div><div class="filmpanda-small-text" th:utext="${movie.leadActor}"></div>
                            <div class="filmpanda-small-text filmpanda-orange-text">Supporting Actor(s): </div><div class="filmpanda-small-text" th:utext="${movie.supportingActors}"></div>
                        </div>
                        <div class="col-md-6" align="right">
                            <div class="filmpanda-small-text filmpanda-orange-text">IMDB Rating: </div><div class="filmpanda-small-text" th:utext="${movie.imdbRating}"></div>
                            <div class="filmpanda-small-text filmpanda-orange-text">Rotten Tomatoes: </div><div class="filmpanda-small-text" th:utext="${movie.rottenTomatoesPercent + '%'}"></div>
                            <th:block th:if="${movie.budget} >= 1000">
                                <div class="filmpanda-small-text filmpanda-orange-text">Budget: </div><div class="filmpanda-small-text" th:utext="${movie.budget}/1000 + ' billion'"></div>
                            </th:block>
                            <th:block th:if="${movie.budget} < 1000">
                                <div class="filmpanda-small-text filmpanda-orange-text">Budget: </div><div class="filmpanda-small-text" th:utext="${movie.budget} + ' million'"></div>
                            </th:block>
                            <th:block th:if="${movie.boxOffice} >= 1000">
                                <div class="filmpanda-small-text filmpanda-orange-text">Box Office: </div><div class="filmpanda-small-text" th:utext="${movie.boxOffice}/1000 + ' billion'"></div>
                            </th:block>
                            <th:block th:if="${movie.boxOffice} < 1000">
                                <div class="filmpanda-small-text filmpanda-orange-text">Box Office: </div><div class="filmpanda-small-text" th:utext="${movie.boxOffice} + ' million'"></div>
                            </th:block>
                            <div class="filmpanda-small-text filmpanda-orange-text">Average user rating: </div><div class="filmpanda-small-text" th:utext="${averageUserRating}"></div>
                            <div class="filmpanda-small-text filmpanda-orange-text">Release Date: </div><div class="filmpanda-small-text" th:utext="${movie.releaseDate}"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <hr>
                            <div class="filmpanda-small-text filmpanda-orange-text">Description: </div><div class="filmpanda-small-text" th:utext="${movie.description}"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-11">
                        <th:block th:each="movieTheater : ${groupedScreenings}">
                            <div class="jumbotron-fluid filmpanda-screening-theater-block">
                                <h3 th:utext="${movieTheater.key}"></h3>
                                <th:block th:each="type : ${movieTheater.value}">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="filmpanda-medium-small-text" th:utext="${type.key}"></div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <th:block th:each="price : ${type.value}">
                                                    <div class="col-md-5">
                                                        <div class="jumbotron-fluid filmpanda-screening-price-block push-left">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="filmpanda-medium-small-text" th:utext="${price.key} + 'lv'"></div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <th:block th:each="screening : ${price.value}">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <div class="jumbotron-fluid filmpanda-screening-block">
                                                                                    <div class="filmpanda-small-text text-center" th:utext="${screening.timeStamp}"></div>
                                                                                </div>
                                                                            </div>
                                                                            <th:block th:if="${#lists.contains(currentUser.authorities, 'ROLE_ADMIN')}">
                                                                                <form th:action="@{/movies/delete-screening/{movieId}/{screeningId} (movieId = ${movie.id}, screeningId = ${screening.id})}" th:method="post">
                                                                                    <input type="hidden" name="_csrf"
                                                                                           value="80417983-fe8b-45c7-963e-31f6915a1560">
                                                                                    <button class="btn btn-dark filmpanda-tiny-remove-button">X</button>
                                                                                </form>
                                                                            </th:block>
                                                                        </div>
                                                                    </th:block>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <br>
                            <br>
                            <br>
                            <hr>
                            <div class="jumbotron-fluid filmpanda-review-post-block">
                                <form th:action="@{/movies/add-review/{id} (id = ${movie.id})}" th:method="post">
                                    <input type="hidden" name="_csrf"
                                           value="80417983-fe8b-45c7-963e-31f6915a1560">
                                    <div class="form-group tiny-margin-top-bottom">
                                        <label class="filmpanda-orange-text filmpanda-tiny-text" for="title">Review title</label>
                                        <input type="text" class="form-control" id="title" placeholder="Review title" name="title">
                                    </div>
                                    <div class="form-group tiny-margin-top-bottom">
                                        <label class="filmpanda-orange-text filmpanda-tiny-text" for="rating">Rating</label>
                                        <input type="number" step="0.5" min="0" max="10" value="0" class="form-control" id="rating" placeholder="0" name="rating">
                                    </div>
                                    <div class="form-group tiny-margin-top-bottom">
                                        <label class="filmpanda-orange-text filmpanda-tiny-text" for="description">Description</label>
                                        <textarea rows="5" class="form-control" id="description" placeholder="Description" name="description"></textarea>
                                    </div>
                                    <button class="btn btn-dark filmpanda-button text-right push-down">Submit</button>
                                </form>
                            </div>
                            <th:block th:each="review : ${reviews}">
                                <th:block th:if="${review.reviewer.equals(currentUser.username)}">
                                    <div class="jumbotron-fluid filmpanda-current-user-review-block">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="filmpanda-small-text filmpanda-orange-text">Title: </div><div class="filmpanda-small-text" th:utext="${review.title}"></div>
                                                <div class="filmpanda-small-text filmpanda-orange-text">Rating: </div><div class="filmpanda-small-text" th:utext="${review.rating}"></div>
                                                <div class="filmpanda-small-text filmpanda-orange-text">By: </div><div class="filmpanda-small-text" th:utext="${review.reviewer}"></div>
                                                <form th:action="@{/movies/delete-review/{movieId}/{reviewId} (movieId = ${movie.id}, reviewId = ${review.id})}" th:method="post">
                                                    <input type="hidden" name="_csrf"
                                                           value="80417983-fe8b-45c7-963e-31f6915a1560">
                                                    <button class="btn btn-dark filmpanda-remove-button push-down">X</button>
                                                </form>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="filmpanda-small-text filmpanda-orange-text">Description: </div><div class="filmpanda-small-text" th:utext="${review.description}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${!review.reviewer.equals(currentUser.username)}">
                                    <div class="jumbotron-fluid filmpanda-review-block">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="filmpanda-small-text filmpanda-orange-text">Title: </div><div class="filmpanda-small-text" th:utext="${review.title}"></div>
                                                <div class="filmpanda-small-text filmpanda-orange-text">Rating: </div><div class="filmpanda-small-text" th:utext="${review.rating}"></div>
                                                <div class="filmpanda-small-text filmpanda-orange-text">By: </div><div class="filmpanda-small-text" th:utext="${review.reviewer}"></div>
                                                <th:block th:if="${#lists.contains(currentUser.authorities, 'ROLE_ADMIN')}">
                                                    <form th:action="@{/movies/delete-review/{movieId}/{reviewId} (movieId = ${movie.id}, reviewId = ${review.id})}" th:method="post">
                                                        <input type="hidden" name="_csrf"
                                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                                        <button class="btn btn-dark filmpanda-remove-button push-down">X</button>
                                                    </form>
                                                </th:block>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="filmpanda-small-text filmpanda-orange-text">Description: </div><div class="filmpanda-small-text" th:utext="${review.description}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
<script>
    fetch('/movie-theaters/fetch')
        .then((response) => response.json())
    .then((json) => {
        json.forEach((theater) => $('#add-screening-theater').append(`<option value="${theater.id}">${theater.name}</option>`));
    })
    .catch((err) => console.log(err));
</script>
</html>