<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main>
    <div class="jumbotron filmpanda-dark filmpanda-small-block">
        <h1 class="text-center">Profile</h1>
        <hr>
        <h4 class="filmpanda-orange-text font-italic"> Username: </h4><h4 th:utext="${model.username}"></h4>
        <h4 class="filmpanda-orange-text font-italic"> Email: </h4><h4 th:utext="${model.email}"></h4>
        <h4 class="filmpanda-orange-text font-italic"> Name: </h4><h4 th:utext="${model.firstName} + ' ' + ${model.lastName}"></h4>
        <hr>
        <div class="text-center"><a th:href="@{/users/edit}"><button class="btn btn-dark align-content-center filmpanda-button">Edit Profile</button></a></div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>