<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main class="">
    <div class="jumbotron filmpanda-dark filmpanda-small-block col-md-offset-3">
        <h1 class="text-center">Register</h1>
        <hr>
        <form th:action="@{/users/register}" th:method="post">
            <input type="hidden" name="_csrf"
                   value="80417983-fe8b-45c7-963e-31f6915a1560">
            <div class="form-group">
                <label class="filmpanda-orange-text" for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <label class="filmpanda-orange-text" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="********" name="password">
            </div>
            <div class="form-group">
                <label class="filmpanda-orange-text" for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="********" name="confirmPassword">
            </div>
            <div class="form-group">
                <label class="filmpanda-orange-text" for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email@example.com" name="email">
            </div>
            <div class="row row-margin">
                <div class="col">
                    <label class="filmpanda-orange-text" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName">
                </div>
                <div class="col">
                    <label class="filmpanda-orange-text" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name" name="lastName">
                </div>
            </div>
            <hr>
            <div class="text-center"><button type="submit" class="btn btn-dark align-content-center filmpanda-button">Register</button></div>
        </form>
        <br>
        <p class="text-center">Already have an account? <a class="filmpanda-orange-text" th:href="@{/users/login}">Login</a> now!</p>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>